<%= t(".count_title", :count => @result.total_count) %>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="span1"><%= t("activerecord.attributes.search_missive/missive.accept_date") %></th>
            <th class="span1"><%= t("activerecord.attributes.search_missive/missive.doc_type") %></th>
            <th class="span2"><%= t("activerecord.attributes.search_missive/missive.agency") %></th>
            <th class="span1"><%= t("activerecord.attributes.search_missive/missive.initial") %></th>
            <th class="span1"><%= t("activerecord.attributes.search_missive/missive.reference_no") %></th>
            <th class="span4"><%= t("activerecord.attributes.search_missive/missive.subject") %></th>
        </tr>
    </thead>
    <% @result.each do |entity| %>
    <tr>
        <td><%= entity.accept_date.date %></td>
        <td><%= entity.doc_type.name %></td>
        <td>
            <span rel="tooltip" title="<%= entity.agency.name %>"><%= truncate entity.agency.name, :length => 15 %></span>
        </td>
        <td><%= entity.initial.name %></td>
        <td><%= entity.reference_no %></td>
        <td>
            <span rel="tooltip" title="<%= entity.subject %>"><%= truncate entity.subject %></span>
        </td>
    </tr>
    <% end %>
</table>
<%= paginate @result, :remote => true %>